
* {
    box-sizing: border-box;
}


/* Navigation bar  */
    nav {
         /* border: solid 2px rgb(132, 132, 182); */
        height: 100px;
         display: flex;
        justify-content: space-around;
        align-items: center;    
    }

    nav a {
        color: olivedrab;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }

    nav a:hover {
        color: blueviolet;
    }

/* Global */
    .sevillana-regular {
    font-family: "Sevillana", cursive;
    font-weight: 500;
    font-style: normal;
    }


    body {
        margin: 0;
        padding-bottom: clamp(3rem, 5vw, 5rem);
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        background-color: rgb(162, 208, 231);
            }
    h1 {
        color: rgb(39, 69, 165);
        font-size: 80px;
    }

    p {
        color: black;
        font-size: larger;
    }

    img {
        width: 50%;   
    }

    .rounded {
        border-radius: 5%;
    }

    .side-by-side {
        display: flex;
        justify-content: space-evenly;


    }

    .right-side {
        border: solid red;
        display: flex;
        justify-content: flex-start;
    }

    .left-side {
        border: solid blue;
        display: flex;
        justify-content: flex-start;
    }
 /* index.html */

    .para1 {
        font-family: cursive;
        color: black;
        font-size: xx-large ;
    }

    .demo2 {
        font-variant: small-caps;
        color: darkgreen;
    }

    .plane {
        width: 20%;
    }


/* about.html */


/* research.html */

    .womble {
        width: 90%;
    }

/* microlighting.html */

    .gallery {
        width: 30%;
    }

    #gallery {
        /* border: solid 2px red; */
        display: flex;
        justify-content: space-evenly;
    }

    #types {
        /* border: solid 2px red; */
        height: 400px;
        display: flex;
        justify-content: space-around;
        align-items: baseline;    
    }

    #why {
        margin: 10em;
    }

    #training {
        margin: 10em;
    }

    /* fix for image layout*/
    .flexwing {
        /* border: solid 2px green; */
        width: 50%;
    }

    /* footer.html */
    /* The HTML should be copied to the bottom of each page once happy */
    /* OLD_footer {
        border: solid black;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: clamp(3rem, 5vw, 5rem);
        padding: 0.5em;
        background-color: inherit;
        font-size: 1rem;
        z-index: 1000;
        display: flex;  
        justify-content: center;
    } */

    footer {
        border: solid black;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-top: 0.5em;
        padding: 0.5em;
    }

    footer div {
        width: 100%;
        display: flex;

    }
        .social {
            display: flex;
            justify-content: space-evenly;
        }



    .email {
        padding-right: 10%;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
    }

    