
* {
    box-sizing: border-box;
}


/* Navigation bar  */




    nav {
         /* border: solid 2px rgb(132, 132, 182); */
        position: fixed;
        top: 0;
        width: 100%;
        height: 100px;
        background-color: inherit;
        display: flex;
        justify-content: space-around;
        align-items: center;    
    }

    nav a {
        color: olivedrab;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }

    
   

    nav a:hover {
        color: blueviolet;
    }

/* Global */
    .sevillana-regular {
    font-family: "Sevillana", cursive;
    font-weight: 500;
    font-style: normal;
    }


    body {
        margin: 0;
        padding-bottom: clamp(3rem, 5vw, 5rem);

        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        background-color: rgb(162, 208, 231);
            }

    .main {
        padding-bottom: 100px;
        padding-top: 120px;
    }

    h1 {
        color: rgb(39, 69, 165);
        font-size: 80px;
    }

    p {
        color: black;
        font-size: larger;
    }

    img {
        width: 50%;   
    }

    .rounded {
        border-radius: 5%;
    }

    .justify-left {
        display: flex;
        justify-content: flex-start;
    }



    /* .justify-right {
        display: flex;
        justify-content: flex-end;
    } */

    

    .right-side {
        border: solid red;
        display: flex;
        justify-content: flex-start;
    }

    .left-side {
        border: solid blue;
        display: flex;
        justify-content: flex-start;
    }
 /* index.html */



    .plane {
        width: 20%;
    }


/* about.html */


/* research.html */



/* microlighting.html */

    .gallery {
        width: 30%;
    }

    #gallery {
        /* border: solid 2px red; */
        display: flex;
        justify-content: space-evenly;
    }

    #types {
        /* border: solid 2px red; */
        height: 400px;
        display: flex;
        justify-content: space-around;
        align-items: baseline;    
    }

    #why {
        margin: 5em;
    }

    #training {
        margin: 5em;
    }

    /* fix for image layout*/
    .flexwing {
        /* border: solid 2px green; */
        width: 50%;
    }
    

    /* footer.html */
    
    .side-by-side {
        display: flex;
        justify-content: space-evenly;
    }

    footer {
        /* border: solid black; */
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: inherit;
        padding: 0.5em;
        z-index: 1000;
    }

    footer div {
        width: 100%;
        display: flex;
    }

        .social {
            padding: 0 .05em;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        
    .email {
        padding-right: 10%;
        display: flex;
        justify-content: end;
        
    }

    @media (max-width: 1250px) {
            footer {
                font-size:70%;
            }

            nav a {font-size: 30px;
                }
    }


    @media (max-width: 600px) {
            nav a {
                font-size: 20px;
            }
        
            footer {
            position: static;
            }

            .main {
                padding-bottom: 0;
            }

            .side-by-side {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .social {
                justify-content: center;
            }

            .email {
                padding: 0%;
                margin-top: 10px;
                text-align: center;
            }

        
    }
    
        
    